@import "tailwindcss";
@layer theme, base, components, utilities;

@plugin "./libs/hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));
